.container {
	display: grid;
	/* grid-template-columns: repeat(4, 1fr); */
	grid-template-areas:
		'n n n n n n'
		's m m m m a'
		's m m m m a'
		's m m m m a';
}

.nav {
	display: flex;
	justify-content: flex-end;
	/* flex-direction: row; */
	background: lightcyan;
	grid-area: n;
}
.nav > * {
	display: inline-flex;
	float: left;
	list-style: none;
	text-decoration: none;
	color: #fff;
}
.section1 {
	background: lavenderblush;
	grid-area: s;
}
.main {
	background: lightcoral;
	grid-area: m;
}
.aside {
	background: lightblue;
	grid-area: a;
}
